body * {
  color: #fff;
  text-decoration: none;
}

body {
    margin: 0;
    background-color: black;
}

header {
    background-color: black;
}

p {
    margin: 0;
}

/* ================================================================================================== */

.header__container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 5px;
}

.header__nav {
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
}

.header__nav-item {
    margin-left: 40px;
}

.header__nav-item:hover{
    color: #BC9060;
}

/* ================================================================================================== */

.main__container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

.main__video {
    width: 100%;
    z-index: -100;
    position: absolute;
    top: 70px;
    left: 0px;
}

/* ================================================================================================== */

.brend {
    background-image: url(./img/background__brend.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1050px;
}

.brend__container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto; 
}

.brend__text {
    font-family: "Montserrat", sans-serif;
    font-size: 230px;
    font-weight: 750;
}

.brend__text::before {
    content: url('./img/brend__element.png');
    position: absolute;
    margin-left: 20px;
    margin-top: -140px;
}

.brend__block-1 {
    padding-top: 90px;
}

.brend__text-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 400;
    float: inline-end;
    padding-top: 70px;
    text-align: right;
}

.brend__block-2 {
    margin-top: 50px;
    text-align: center;
}

.brend__button {
    background-color: black;
    font-size: 20px;
    padding: 25px 95px 25px 95px;
    border-radius: 60px;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 3px solid white;
}

.brend__button:hover {
    background-color: #BC9060;
}

/* ================================================================================================== */

.rebates {
    padding-bottom: 50px;
    margin-bottom: 200px;
}

.rebates__container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

.rebates__body {
    position: relative;
}

.rebates__name {
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: 120px 0 120px 0;
}

.rebates__card-img-1 {
    object-fit: cover;
}

.rebates__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #151515;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rebates__under {
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rebates__card-img-1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rebates__card-text-1 {
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 25px;
}

.rebates__card-text-2 {
    font-family: "Signika", sans-serif;
    color: #8A8A8A;
    font-weight: 300;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 20px;
}

.rebates__card-text-3 {
    font-family: "Signika", sans-serif;
    font-weight: 300;
    margin-top: 18px;
    margin-right: 25px;
    padding: 0 10px 0 10px;
    font-size: 30px;
    background-color: #BC9060;
    color: black;
}

.rebates__card-right {
   display: flex; 
   align-items: start;
}

.rebates__sale-text-1 {
    margin-top: 28px;
    margin-right: 30px;
    font-size: 22px;
    font-family: "Signika", sans-serif;
    color: #8A8A8A;
    position: relative;
}

.rebates__sale-text-1::after {
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    background-color: #8A8A8A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rebates__sale-text-2 {
    margin-top: 28px;
    margin-right: 30px;
    font-size: 22px;
    font-family: "Signika", sans-serif;
    color: #8A8A8A;
    position: relative;
}

.rebates__sale-text-2::after {
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    background-color: #8A8A8A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.swiper-pagination {
    --swiper-pagination-bottom: -70px;
    --swiper-theme-color: #BC9060;
    --swiper-pagination-bullet-inactive-color: #656363;
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
    --swiper-navigation-top-offset: 35%;
}

.swiper-button-prev:after {
    content: '';
    
}

.swiper-button-next:after {
    content: '';
}

.swiper-button-prev {
    --swiper-navigation-sides-offset: -70px;
}

.swiper-button-next {
    --swiper-navigation-sides-offset: -70px;
}

.rebates__swiper-body {
    position: relative;
}

.rebates__card-img-2 {
    width: 100%;
    height: 325px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ================================================================================================== */

.suggestion {
    margin-bottom: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.suggestion__container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

/* .suggestion__left {
    display: flex;
} */

.suggestion__left-block-1 {
    background-color: #151515;
    width: 450px;
    height: 330px;
    border-radius: 5px;
    margin-left: 10px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end; */
}

.suggestion__container::before {
    content: url('./img/sugestion__baclground-3.png');
    z-index: -10;
    position: absolute;
    margin-top: -210px;
    margin-left: -170px;
}

.saggestion__left-text-1 {
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #D9D9D9;
    padding-left: 20px;
    padding-top: 40px;
}

.saggestion__left-text-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 25px;
    line-height: 20px;
}

.saggestion__left-img-1 {
    width: 243px;
    height: 215px;
    margin-left: 46%;
    border-bottom-right-radius: 10px;
    margin-top: -41px;
    z-index: 10;
}

.suggestion__body {
    display: flex;
    gap: 20px;
}

.suggestion__right-block-1 {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    background-color: #151515;
    border-radius: 5px;
    align-items: center;
    height: 100px;
    width: 450px;
}

.suggestion__right-img-1 {
    padding: 15px 0 15px 30px;
}

.saggestion__right-text-1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 15px;
}

.suggestion__right-block-2 {
    display: flex;
    gap: 30px;
    background-color: #151515;
    border-radius: 5px;
    align-items: center;
    height: 100px;
    width: 450px;
}

.suggestion__right-block-2::after {
    content: url('./img/suggestion__background-img-1.png');
    z-index: -10;
    position: absolute;
    margin-left: 330px;
    margin-bottom: 60px;
    opacity: 0.8;
}


.suggestion__right-img-2 {
    padding: 15px 0 15px 30px;
}

.saggestion__right-text-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 20px;
}

.suggestion__right-top {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.suggestion__right-block-3 {
    display: flex;
    gap: 30px;
    background-color: #151515;
    border-radius: 5px;
    align-items: center;
    height: 100px;
    width: 450px;
    margin-right: 20px;
}

.suggestion__right-img-3 {
    padding: 15px 0 15px 30px;
}

.saggestion__right-text-3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 15px;
}

.suggestion__under {
    display: flex;
    justify-content: center;
}

.suggestion__right-block-4 {
    display: flex;
    gap: 30px;
    background-color: #151515;
    border-radius: 5px;
    align-items: center;
    height: 100px;
    width: 450px;
}

.suggestion__right-img-4 {
    padding: 15px 0 15px 30px;
}

.saggestion__right-text-4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 20px;
}

.suggestion__under-under {
    margin-top: 15px;
}

.suggestion__under-under::after {
    content: url('./img/suggestion__background-img-2.png');
    position: absolute;
    margin-left: 800px;
    margin-top: -80px;
}

.suggestion__right-5 {
    display: flex;
    background-color: #151515;
    border-radius: 5px;
    align-items: center;
    gap: 30px;
}

.suggestion__right-img-5 {
    padding: 15px 0 15px 30px;
}

.suggestion__background-img-1 {
    z-index: -10;
}